<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/normalize.css}" />
        <link rel="stylesheet" th:href="@{/site.css}" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" th:href="@{/}">InstaTeam</a>
                    <a class="new-project button icon-left" th:href="@{/newproject}"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Projects</a></li>
                <li><a th:href="@{/collaborators}">Collaborators</a></li>
                <li class="selected"><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <div class="flash" th:if="${flash}"
                     th:classappend="${#strings.toLowerCase(flash.status)}"
                     th:utext="${flash.message}">
                </div>
                <form th:action ="@{/roles}" method="post" th:object = "${role}">
                    <h2>Manage Roles</h2>
                    <div th:each = "role : ${roles}">
                        <ul class="checkbox-list">
                            <li><span class="primary" th:text = "${role.name}">Developer</span></li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <input th:field = "*{name}" type="text" placeholder="New Role..." />
                        <button type="submit" class="button">Add</button>
                    </div>
                    <div class="flash error-message" style="margin-left: 10px" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    <h3>Instructions for Adding New Role</h3>
                    <h6>1.Empty Values and Special Characters are not Allowed.</h6>
                    <h6>2.Starting with digits are not Allowed.</h6>
                    <h6>3.Duplication is not Allowed.</h6>
                    <h6>4.Accepted Role Name : Java Developer , Java J2EE Developer</h6>
                    <h6>5.UnAccepted Role Name : 123Developer , Developer@#$</h6>
                </form>
            </div>
        </section>
    </body>
</html>